NODE_ENV=
API_HOST=
API_PORT=
MARIADB_HOST=
MARIADB_PORT=
MARIADB_DATABASE=
MARIADB_USER=
MARIADB_PASSWORD=
MONGODB_HOST=
MONGODB_PORT=
MONGODB_DATABASE=
MONGODB_USER=
MONGODB_PASSWORD=
MONGODB_AUTH_SOURCE=
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=
REDIS_PREFIX=
MQTT_HOST=
MQTT_PORT=
MQTT_WS_PORT=
MQTT_USER=
MQTT_PASSWORD=
MQTT_TOPIC=
MQTT_PERSIST_ENABLED=
MINIO_ENDPOINT=
MINIO_PORT=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=
MINIO_USE_SSL=
VITE_DATA_SOURCE=
VITE_API_BASE_URL=
VITE_API_TALHOES_PATH=
VITE_API_IMAGENS_PATH=
VITE_API_ALERTAS_PATH=
VITE_API_LEITURAS_PATH=
VITE_API_TELEMETRIA_PATH=
